
// Font families
$baseFontFamily: -apple-system, BlinkMacSystemFont, sans-serif;
$monoFontFamily: 'Menlo', 'Source Code Pro', serif;

// Typography
$subtleTextColor: #AAAAAA;
$baseFontSize: 16px;
$baseFontColor: #000000;
$hrColor: #DEDEDE;

// Button
$buttonColor: linear-gradient(to top right, #1E7CA1, #185A9D);
$buttonTextColor: #FFFFFF;

// Colors
$titleLinkColor: #000000;
$titleLinkHoverColor: #FF6347;

// Links
$linkColor: #FF6347;
$linkBorderColor: #F2F2F2;
$linkBorderHoverColor: #FFCC33;
$linkHoverColor: #FF6347;

// Borders
$baseBorderColor: #F2F2F2;
$blockquoteBorderColor: #FF6347;


// Circles
$circleOneBaseColor: #EF3E4A;
$circleOneHighlightColor: #DE6262;
$circleTwoBaseColor: #43CEA2;
$circleTwoHighlightColor: #185A9D;
$circleThreeBaseColor: #FFB347;
$circleThreeHighlightColor: #FFCC33;
$circleFourBaseColor: #FFFFFF;

// Code blocks
$codeThemeColor00: #1B2B34;
$codeThemeColor01: #CDD3DE;
$codeThemeColor02: #93A1A1;
$codeThemeColor03: #99C794;
$codeThemeColor04: #EC5F67;
$codeThemeColor05: #FAC863;
$codeThemeColor06: #C594C5;
$codeThemeColor07: #6699CC;
$codeThemeColor08: #B58900;
$codeThemeColor09: #1E5D1F;

// Inline code
$inlineCodeBackgroundColor: #F2F2F2;
